* {
    font-family: monospace;
    text-align: center;
    margin: 0.2em;
}

body {
    background-color: #060621;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 30em;
    padding: 1em;
    background-color: #060630;
    color: white;
    border-radius: 1em;
    border: #999999 solid 0.1em;
}

textarea {
    overflow-x: scroll;
    resize: none;
    width: 25em;
}

button {
    background-color: #060630;
    color: white;
    border: #999999 solid 0.1em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1em;
}